@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        /*//background-image: url("paper.gif");*/
        background-image: url("/image/1mobile.jpg");
        /*background-repeat: no-repeat;*/
        /*background-attachment: ;*/
        background-position: center;
        background-size:auto;
    }
    
</style>
@*    <form method = "post" asp-controller = "Account" aspcontroller = "Logout"> 
        <input type = "submit" value = "Logout"/> 
    </form> *@

<div class="text-center xxc">

@*    <h1 class="display-4">خوش آمدید @User.Identity.Name! </h1>*@
    @*<p>KAMJA Service App</p>*@
</div>
