@page

@*<header>
    <h2>خروج از حساب کاربری</h2>
    <h5 style="margin-top: 45px">خروج از حساب کاربران با موفقیت انجام شد</h5>
    <h5 style="margin-top: 15px">لطفا چند لحظه منتظر بمانید...</h5>

</header>*@

<div id="ms-error-header" class="ms-pr">
		<h2 class="ms-core-pageTitle">
			
	لطفاً این صفحه را بسته و مرورگر را برای تکمیل خروج از برنامه ببندید.

		</h2>
		<div>
			
		</div>
	</div>



<script>
    //window.setInterval('redirectToLogin()', 1000); 	
    //function redirectToLogin() {
    //    window.location = "/Identity/Account/Login";
    //}
</script>