@page "/technical/PartGroupings"
@model kamjaService.Pages.PartGroupings.IndexModel

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "/Pages/Shared/_FLayout.cshtml";
}
<h2> @ViewData["prin"]</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered ">
        <thead>
            <tr>
                <th>

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PartGrouping)
            {

                <tr onclick="location.href = '@(Url.Page("/yaraghs/Index",
                                          new { id =@ViewData["pri"],yt=@item.PartGroupName,pn=@ViewData["prin"],pcode=ViewData["pcode"] }))'">
                    <td>

                        @Html.DisplayFor(modelItem => item.PartGroupName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-12 col-sm-12 col-lg-8"> 
    <img class="w-100 yimg" src="@ViewData["code"]">
</div>