@page
@model kamjaService.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<div class="container">

    <a type="button" class="btn btn-info margin-buttons productGroupCollapseBtn" asp-page="/Admin/ParentGroup/Index">
        <h6 class="buttons_h6">
            محصولات
        </h6>
    </a>
    <a type="button" class="btn btn-info margin-buttons productGroupCollapseBtn" asp-page="/Admin/SalesAnnouncement/Index">
        <h6 class="buttons_h6">
            اطلاعیه های فروش
        </h6>
    </a>
    <a type="button" class="btn btn-info margin-buttons productGroupCollapseBtn" asp-page="/Admin/ColorsList/Index">
        <h6 class="buttons_h6">
            رنگ ها
        </h6>
    </a>
    <a type="button" class="btn btn-info margin-buttons productGroupCollapseBtn" asp-page="/Admin/ProductGroupingsClips/Step1">
        <h6 class="buttons_h6">
            کلیپ محصولات
        </h6>
    </a>
    <a type="button" class="btn btn-info margin-buttons productGroupCollapseBtn" asp-page="/Admin/ProductImages/Step1">
        <h6 class="buttons_h6">
            عکس محصولات
        </h6>
    </a>


    <a type="button" class="btn btn-info margin-buttons productGroupCollapseBtn" asp-page="/Admin/ColorViewTable/Index2222222">
        <h6 class="buttons_h6">
            (به زودی) گروه رنگها و رنگهای آن
        </h6>
    </a>
    <a type="button" class="btn btn-info margin-buttons productGroupCollapseBtn" asp-page="/Admin/ColorCategory/Index22222222222">
        <h6 class="buttons_h6">
            (به زودی) گروه رنگها
        </h6>
    </a>
    


    
        
</div>







