@page
@model kamjaService.Pages.technical.IndexModel

@{
    ViewData["Title"] = "کمجا سرویس";
}
@{
    Layout = "/Pages/Shared/_FLayout.cshtml";
}

<h3>گروه محصولات</h3>




<table class="table" style="margin: 0">
    <tbody>
        <tr>
            <td>
                <form action="/technical/search/search" method="get">

                    <div class="input-group search-container">
                        <input id="txtCustomerName" type="text" class="form-control" placeholder="جستجو نام یا کد کل محصولات..." aria-label="جستجو" aria-describedby="basic-addon2" name="SearchString" value="@Model.CurrentFilter">
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
@*<table class="table" id="tblCustomers" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width: 100%">نام</th>

    </tr>
</table>*@
<div class="table-responsive">
    <table class="table table-hover table-striped  ">
        <thead>
            <tr>
                <th>

                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Parent)
            {
                <tr onclick="location.href = '@(Url.Page("/ProductGroups/Index", new { id = @item.ParentId }))'">
                    <td>

                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        GetCustomers();
        $("#txtCustomerName").keyup(function () {
            GetCustomers();
        });
    });

    function GetCustomers() {
        var customerName = $.trim($("#txtCustomerName").val());
        $.ajax({
            type: 'GET',
            data: {customerName:customerName},
            url: '?handler=search',

            success: function (customers) {
                var table = $("#tblCustomers");
                table.find("tr:not(:first)").remove();
                $.each(customers, function (i, customer) {
                    var table = $("#tblCustomers");
                    var row = table[0].insertRow(-1);
                    $(row).append("<td />");
                    $(row).find("td").eq(0).html(customer);
                    $(row).append("<td />");
                });
            },
            error: function (result) {
                console.log( result.Name +" خطا ");
            }
        });
    }

</script>